// Fuentes
$primary-font: "Ancizar Sans", sans-serif;

// Colores
$body-bg: rgb(196, 192, 192);
$header-bg: #6f91dd;
$nav-link-color: #ffffff;
$banner-bg: #494a7e;
$banner-h1-color: rgb(200, 209, 120);
$card-bg: #fff;
$card-shadow: 0 4px 8px rgba(0,0,0,0.1);
$price-original-color: black;
$price-offer-color: rgba(153, 30, 14, 0.89);
$button-bg: rgba(40, 19, 158, 0.5);
$button-text-color: white;
$footer-bg: rgba(45, 34, 77, 1);
$footer-text-color: white;
$contact-container-bg: #e3e4f5;
$info-box-bg: #ffffff;
$info-box-header-color: #494a7e;
$input-border-color: #ccc;